registry=https://us-west1-npm.pkg.dev/equestria-dev-47499/npmjs-mirror/
@equestria:registry=https://us-west1-npm.pkg.dev/equestria-dev-47499/toku-npm/
@illumass:registry=https://us-west1-npm.pkg.dev/equestria-dev-47499/toku-npm/
@new-mareland:registry=https://us-west1-npm.pkg.dev/equestria-dev-47499/toku-npm/
@new-mareland-module:registry=https://us-west1-npm.pkg.dev/equestria-dev-47499/toku-npm/
@new-mareland-grafana-plugin:registry=https://us-west1-npm.pkg.dev/equestria-dev-47499/toku-npm/
//us-west1-npm.pkg.dev/equestria-dev-47499/toku-npm/:always-auth=true
//us-west1-npm.pkg.dev/equestria-dev-47499/toku-npmjs-mirror/:always-auth=true
